.blockNavLeft{
    height: 100%;
    width: 13vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F9F9F9;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.25);
}
ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    list-style: none;

    position: absolute;
    width: 223px;
    left: calc(50% - 223px/2);

}
li{
    box-sizing: border-box;
    width: 210px;
    height: 85px;

    flex: none;
    order: 1;
    flex-grow: 0;

    /*background: #171818;*/
    /*border-radius: 0px 100px 100px 0px;*/
}
.blockLi{
    position: relative;
    left: 10px;
    top: 30%;


    font-family: 'Fira Mono', monospace;;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    gap: 20px;

}
