.field-info-quest{
    position: absolute;
    left: 30%;
    top: 20dvh;
    height: 105vh;
    width: 40dvw;
    margin-bottom: 80px;
}
.field-info-user{
    position: absolute;
}
.stripe-info{
    box-sizing: border-box;
    position: relative;
    width: 85%;
    left: 10%;
    min-height: 50px;
    max-height: 75px;
    border-bottom: 1.2px solid rgba(32, 111, 109, 0.5);

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    text-align: center;

    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.stripe-info span{
    font-weight: 600;
    font-size: 14px;
    /*color: rgba(48, 48, 48, 0.8);*/
    color: rgba(32, 111, 109, 0.7);
}
.stripe-info p{
    font-weight: 400;
    font-size: 18px;
    color: #303030;
    margin-top: 3px;
}
.photo-user{
    position: relative;
    top: 0;
    left: 37.5%;
    overflow:hidden;
    width:30%;
    height:200px;
    margin-bottom: 25px;
}
.photo-user img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 100px;
    border: 1px solid rgba(76, 91, 102, 0.4);
}