.back-to-eventsList{
    position: absolute;
    width: 118px;
    height: 37px;
    left: 15px;
    top: 15px;

    background: rgba(32, 111, 109, 0.7);
    border-radius: 10px;
    text-align: center;

    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18.3333px;

    color: #FFFFFF;
}
.back-to-eventsList:hover{
    transform: translateY(0) scale(1.05);
}
.stepper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 31px 0px 30px;

    position: absolute;
    width: 1596px;
    height: 80px;
    left: 162px;
    top: 130px;
}
