.profileOrg{
    position: absolute;
    left: 30%;
    top: 20dvh;
    height: 70dvh;
    width: 40dvw;
}

.infoOrg{
    position: absolute;
    width: 69%;
    height: 50dvh;
    right: 0;
    top: 0;

}
.fieldsetOrg{
    position: relative;
    margin: 20px 25px 10px 25px;
    height: 30dvh;

    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}
.full-inputOrg{
    width: 100%;
    height: 56px;
}
.full-inputOrg label{

    position: relative;
    width: 250px;
    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    top: 2px;
    padding-left: 5px;

    color: rgba(39, 35, 37, 0.5);
}
.full-inputOrg input{
    position: relative;
    top: -15px;
}
.changePasswordOrg .icon-key{
    color: #206F6D;
}
.save-changeButton{
    width: 194px;
    height: 37px;
    border: none;
    background: #206F6D;
    border-radius: 10px;
    color:#f2f2f2;

    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;

    position: absolute;
    right: 25px;
    bottom: 0;

}
.save-changeButton:hover{
    transform: translateY(0) scale(1.05);
}
.save-changeButton:focus { outline: none; }
.exit{
    box-sizing: border-box;

    position: absolute;
    width: 95px;
    height: 41px;
    right: 27px;
    top: 14px;
    color: #206F6D;

    border-bottom: 1px solid #303030;
    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    display: flex;
    align-items: center;
    gap: 10px;

}