
/*.buttons-stepper1{*/
/*    position: absolute;*/
/*    bottom: -125vh;*/
/*    right: 8%;*/
/*    !*display: flex;*!*/
/*    !*gap: 54vw;*!*/
/*    margin-bottom: 30px;*/
/*    padding-bottom: 30px;*/
/*}*/
.buttons-stepper1{
    position: absolute;
    bottom: -17vh;
    right: 0;
    /*display: flex;*/
    /*gap: 54vw;*/
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.buttons-stepper2{
    position: absolute;
    bottom: -90vh;
    left: 16%;
    display: flex;
    gap: 74vh;
    margin-bottom: 30px;
    padding-bottom: 30px;

}
.buttons-stepper3{
    position: relative;
    bottom: -20vh;
    left: 16%;
    display: flex;
    gap: 74vh;
    margin-bottom: 30px;
    padding-bottom: 30px;

}
.buttons-stepper4{
    position: absolute;
    bottom: -90vh;
    left: 16%;
    display: flex;
    gap: 74vh;
    margin-bottom: 30px;
    padding-bottom: 30px;

}
.mantine-Stepper-stepBody{
    padding-left: 5px;

}

.mantine-Stepper-separator{
    padding: 2.5px 0;
    margin-right: -5px;
    margin-left: 30px;

}
.mantine-Stepper-stepIcon{
    border: 6px solid rgba(32, 111, 109, 0.2);
    border-radius: 50px;
}
.mantine-Stepper-stepCompletedIcon{
    background-color: rgba(32, 111, 109, 0.85);
}
.mantine-Stepper-step{
    width: 0;


}
.mantine-Stepper-root{
    position: absolute;
    width: 70vw;
    height: 80px;
    left: 15%;
    top: 10%;
}

.mantine-Stepper-stepBody{
    position: relative;
    top: -30px;
    left: -60px;
    margin-left: 0;

}
.mantine-Stepper-stepLabel {
    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */

    color: rgba(32, 111, 109, 0.85);

    mix-blend-mode: normal;

    /*margin-left: -10px;*/
}
