.inputTime{
    width: 90px;
    height: 30px;
    position: relative;
    left: 35px;
    top:-5px;
    text-indent: 15px;
    background-color: #F2F2F2;

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;

    color: #303030;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    height: 30px;
    width: 30px;
    left:-40px;
    top: -2px;
    /*color: rgba(32, 111, 109, 0.85);*/
    filter: invert(35%) sepia(15%) saturate(2200%) hue-rotate(130deg) brightness(100%) contrast(80%);

    /*display: none;*/

}
.inputCreateEvent:focus, input:focus {outline: none;}

*::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.49);
}
