.content-event{
    position: absolute;
    top: 618px;
    width: 100%;
    height: auto;
}
.content-event article{
    position: relative;
    left: 10%;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.short-description-event{
    position: relative;
    padding: 15px;
    width: auto;
    height: auto;
    top: 5vh;
    line-height: 50px;

    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    display: flex;
    text-align: justify;

    color: #303030;
}
.btn-group-event{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 129px;
    height: 242px;
}
.btn-group-event button{
    width: 45%;
    height: 30vh;

    border-radius: 20px;
}
.btn-group-event button:hover{
    transform: translateY(0) scale(1.01);}
.btn-group-event button:focus { outline: none; }
.to-listOfSpeakers{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 15px 0 15px;
}
.arrow-r-icon{
    position: relative;
    top: -15.5px;
    right: -45%;

}
.to-listOfSpeakers h3{
    position: relative;
    text-align: left;
    left: 0;
    /*top: -20px;*/
    width: 87%;

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #F2F2F2;
}
.to-listOfSpeakers p{
    position: relative;
    width: 88%;
    text-align: left;


    left: 0;
    bottom: 15px;

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: rgba(242, 242, 242, 0.5);
}
.long-description-event-block{
    padding: 15px;
    height: auto;
    display: flex;
    text-align: justify;
    flex-direction: row;
}
.long-description-event-block p{
    position: relative;
    width: 50%;
    left: 20%;
    right: 0;

    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;


    color: #303030;

}
.long-description-event-block h3{
    position: relative;
    left: 2%;

    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;

    display: flex;
    align-items: center;
    text-align: justify;

    color: rgba(126, 25, 25, 0.9);
}
.schedule-event{
    max-height: 80vh;
    border-radius: 15px;
    padding-bottom: 25px;
}
.schedule-event h3{
    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    padding: 15px 0 5px 0;

    color: #F2F2F2;
}
.schedule-event section{
    position: relative;
    width: 95%;
    height: 90%;
    left: 2.5%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 50px;
    /*justify-content: center;*/
    align-content: flex-start;
}
.schedule-event-card{
    width: 390px;
    height: 150px;

    background: #F2F2F2;
    border-radius: 10px;
}
.time-schedule{
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #303030;
    padding-top: 10px;
}
.line-schedule{
    mix-blend-mode: normal;
    border: 1px solid rgba(48, 48, 48, 0.5);
    margin-top: -10px;
}
.name-schedule{
    padding-top: 10px;
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: rgba(48, 48, 48, 0.7);

}
.footer-event{
    box-sizing: border-box;
    position: relative;

    margin-top: 8vh;
    padding-top: 3vh;

    width: 100%;
    height: 25vh;
    border-top: 1px solid rgba(126, 25, 25, 0.9);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30%;

}
.name-org-event{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-event h4{
    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(48, 48, 48, 0.5);
}
.footer-event p{
    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(48, 48, 48, 0.5);


}