.profile{
    position: absolute;
    left: 30%;
    top: 20dvh;
    height: 70dvh;
    width: 40dvw;
}
.photo-container{
    position: relative;
    overflow:hidden;
    width:30%;
    height:200px;
}

.photo-container img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 100px;
    border: 1px solid rgba(76, 91, 102, 0.4);
}
.info{
    position: absolute;
    width: 69%;
    height: 70dvh;
    right: 0;
    top: 0;


}
.fieldset{
    position: relative;
    margin: 20px 25px 10px 25px;
    height: 50dvh;

    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}
.full-input{
    width: 100%;
    height: 56px;

}
.full-input label{
    position: relative;
    width: 200px;
    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    top: 2px;
    padding-left: 5px;

    color: rgba(39, 35, 37, 0.5);
}
.full-input input{
    position: relative;
    top: -15px;
}

.save-changeBtn{
    width: 194px;
    height: 37px;


    border: none;
    background: rgba(126, 25, 25, 0.9);
    border-radius: 10px;
    color:#f2f2f2;

    font-family: 'Mukta Vaani', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;

    position: absolute;
    right: 25px;
    bottom: 0;

}
.save-changeBtn:hover{
    transform: translateY(0) scale(1.05);
}
.update-avatarUser-input{
    position: absolute;

    left:5%;
    top: 5px;
    z-index: 1;
    opacity: 0;
    width: 120px;
    height: 20px;

}
/*.photo-container:hover .drawer-block{*/
/*    display: block;*/
/*}*/

/*.update-avatarUser-input:hover ~ .photo-container div{*/
/*    display: block;*/
/*}*/
/*.photo-container div:hover ~ .photo-container div{*/
/*    display: block;*/
/*}*/

.input-file-text{
    position: relative;
    bottom: 10%;
    /*left: 26px;*/
    /*top: 3px;*/
    gap: 5px;
    padding-left: 5px;

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;

    color:#f2f2f2;
}
.drawer-block{
    /*display: none;*/
    position: absolute;
    left:20%;
    bottom: 12%;
    width: 120px;
    height: 25px;
    background: rgba(155, 155, 155, 0.8);

    backdrop-filter: blur(10px);
    border-radius: 5px;
}

.edit-text{
    position: relative;
    bottom: 10%;
    /*left: 26px;*/
    /*top: 3px;*/
    gap: 5px;
    padding-left: 5px;

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;

    color:#f2f2f2;
}
/*.edit-text:hover ~.sliding-block{*/
/*    display: block;*/

/*}*/
.sliding-block{
    position: absolute;
    top: 32%;
    left: 3%;

    height: 65px;
    width: 140px;
    padding: 5px 0 10px 0;

    background: #FFFFFF;
    border: 1px solid rgba(48, 48, 48, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    /*display: none;*/
}
.sliding-block label{
    position: relative;
    bottom: 10%;
    margin: 0;
    gap: 10px;
    padding-left: 10px;

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    width: auto;
    color: #303030;

}
.update-avatarUser-input:hover ~.add-file-text{
    padding-left: 5px;
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}
.remove-file-text:hover{

    padding-left: 5px;
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);

}



