* {
    border: none;
}
body{
    background-color: #f2f2f2;
}
.form-authorization1{
    width: 40rem;
    height: 60%;
    position: absolute;
    left: 30%;
    top:20%;
    display: flex;
    flex-direction: column;
    padding: 50px 5rem;
}
.headerReg{
    height: 43px;
    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%);

    font-family: 'Fira Mono', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #206F6D;
}
.group-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;

    position: absolute;
    width: 40rem;
    top: 75px;

}
.block-reg{
    width: 250px;
}
.group-input2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;

    /*position: absolute;*/
    width: 30rem;
    top:65%;

}
.group-btn-reg{
    position: relative;
    top:90%;
}
.registration_btn{
    width: 30rem;
    height: 45px;
    background: rgba(32, 111, 109, 0.7);
    border-radius: 15px;

    font-family: 'Hind Vadodara',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #f2f2f2;

}
.registration_btn:focus, input:focus {outline: none;}
.registration_btn:hover{
    transform: translateY(0) scale(1.05);
}
.toLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    margin-top: 10px;
    width: 485px;
    height: 30px;

    font-family: 'Hind Vadodara',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: rgba(48, 48, 48, 0.5);
}
.toLogin span{

    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: -10px;
    color: #206F6D;
}